<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
        <div  th:fragment="common" >
            <footer id="footer">
            <div class="container">
            <div class="row">
            <div class="col-md-3 widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
            <p>my phone<br>
            <a href="mailto:#">17737419925</a><br>
            <br>
            </p>
            </div>
            </div>

            <div class="col-md-3 widget">
            <h3 class="widget-title">Follow me</h3>
            <div class="widget-body">
            <p class="follow-me-icons">
            <a href=""><i class="fa fa-twitter fa-2"></i></a>
            <a href=""><i class="fa fa-dribbble fa-2"></i></a>
            <a href="https://github.com/johnxiaohe"><i class="fa fa-github fa-2"></i></a>
            <a href=""><i class="fa fa-facebook fa-2"></i></a>
            </p>
            </div>
            </div>

            <div class="col-md-3 widget">
            <h3 class="widget-title">Text widget</h3>
            <div class="widget-body">
            <p>
            This a weak coder's blog <br>
            he wants work in Hangzhou、Suzhou and ...<br>
            if you have a opportunity,you can email him<br>
            Thank you very much.
            </p>
            </div>
            </div>

            <div class="col-md-3 widget">
            <h3 class="widget-title">Form widget</h3>
            <div class="widget-body">
            <p>My 163 mailbox<br>
            <a href="mailto:#">john_xiaohe@163.com</a><br>
            <br>
            This blog create in December , 2018
            </p>
            </div>
            </div>

            </div> <!-- /row of widgets -->
            </div>
            </footer>

            <footer id="underfooter">
            <div class="container">
            <div class="row">

            <div class="col-md-6 widget">
            <div class="widget-body">
            <p>这是渊鱼的博客，随时欢迎您的访问 </p>
            </div>
            </div>

            <div class="col-md-6 widget">
            <div class="widget-body">
            <p class="text-right">
            听闻夜归来，落雨鸟无声</p>
            </div>
            </div>

            </div> <!-- /row of widgets -->
            </div>
            </footer>

        </div>
</html>