<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title th:text="${returnObject.data.title}">渊鱼的博客信息</title>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/template.js}"></script>
    <!--editor.md star -->
    <link rel="shortcut icon" th:href="@{/images/gt_favicon.png}">
    <link rel="stylesheet" th:href="@{/css/editormd.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery.form.js}" ></script>
    <script type="text/javascript" src="/js/md/editormd.js" charset="utf-8" ></script>
    <script type="text/javascript" src="/js/md/marked.min.js" ></script>
    <script type="text/javascript" src="/js/md/prettify.min.js" ></script>
    <script type="text/javascript" src="/js/md/raphael.min.js" ></script>
    <script type="text/javascript" src="/js/md/underscore.min.js" ></script>
    <script type="text/javascript" src="/js/md/flowchart.min.js" ></script>
    <script type="text/javascript" src="/js/md/jquery.flowchart.min.js" ></script>
    <script type="text/javascript" src="/js/md/sequence-diagram.min.js" ></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!--editor.md end -->
    <!-- Bootstrap -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <!-- Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script src="../../layui/layui.js"></script>


    <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
    <style>
        a { color:red; transition:1s;text-decoration:none; }
        a:hover { color:hotpink; }
    </style>
    <script type="text/javascript" >
        $(document).ready(function(){
            var testEditor;
            $(function() {
                testEditor = editormd.markdownToHTML("blogDiv", {//注意：这里是上面DIV的id
                    htmlDecode : "style,script,iframe",
                    emoji : true,
                    taskList : true,
                    tex : true, // 默认不解析
                    flowChart : true, // 默认不解析
                    sequenceDiagram : true, // 默认不解析
                    codeFold : true
                });
            });

            var curWwwPath=window.document.location.href;
            var pathName=window.document.location.pathname;
            var pos=curWwwPath.indexOf(pathName);
            var projectNameall = curWwwPath.substring(0,pos);
            layui.use('layer', function(){
                var layer = layui.layer;
                $.ajax({
                    url:projectNameall+"/catgory/findCatgoryNum",
                    async:true,//true异步请求 false同步请求
                    success:function(data) {
                        if(data == undefined){
                            layer.msg("分类信息获取失败");
                        }else{
                            for(var i=0;i<data.length;i++){
                                if(data[i].num==null||data[i].num==undefined){
                                    data[i].num = 0;
                                }
                                $('#catUl').append('<li><a href='+projectNameall+'/blog/findBlogByCategoryId?categoryId='+data[i].id+'>'+data[i].catName+':'+data[i].num+'</a></li> ');
                            }
                        }
                    },
                    error:function() {
                        layer.msg("暂无信息");
                    }
                });
            });

        });
    </script>
</head>
<body>

<div th:include="header :: headerr" ></div>

<main id="main" >

	<div class="container">
		
		<div  class="row topspace">
			<div class="col-sm-12 col-sm-offset-0">
															
 				<article class="post" >
					<header class="entry-header">
 						<div class="entry-meta">
 							<span class="posted-on"><time class="entry-date published" th:text="${#dates.format(returnObject.data.createTime,'yyyy-MM-dd')}" >June 17, 2013</time></span>
 						</div> 
 						<h1 class="entry-title"><a style="text-decoration:none;" href="" rel="bookmark" th:text="${returnObject.data.title}" >Vivamus Lacus Mauris</a></h1>
					</header> 
					<div  id="blogDiv" class="entry-content" style="min-height: 160px;">
						<textarea  type="text" id="blogContent"   th:text="${returnObject.data.content}"></textarea>
					</div>
				</article><!-- #post-## -->

			</div> 
		</div> <!-- /row post  -->

		<div class="clearfix"></div>

	</div>	<!-- /container -->

</main>

<div style="width: 100%; margin-top: 10px;"  th:include="footer :: common"></div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
</body>
</html>
